/* Whole Page */

body, html, .container, .row{
    height: 100%;
    max-width: 100%;
    margin: 0;
}

.container {
    margin: 0;
    padding: 60px 50px 0px 50px;
}

#right, #left {
    width: 50%;
    height: 100%;
    font-family: 'Poppins';
}

/* Left */

#left p {
    font-size: 30px;
}

#left h1 {
    font-weight: 600;
    font-size:90px;
    display: inline-block;
}

#title {
    background-size: 3px 1em;
    box-shadow:
        0px 3px #ff6666;
    display: inline;
}

#focus-point {
    margin: 30px 0px 30px 0px;
}

/* Right */

#right {
    padding-left: 7%;
    font-family: 'Raleway';
}

#right h1 {
    font-size: 30px;
    display: inline-block;
    margin: 0px 0px 30px 15%;
}

#projects-header {
    background-size: 3px 1em;
    box-shadow:
        0px 3px #86dbd3;
    display: inline;
}

#projects {
    text-align: center;
}

.carousel-inner {
    height: 400px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}

img {
    height: 400px;
    width: 100%;
    filter: grayscale(100%) blur(5px);
    
}

#yellow {
    height: 400px;
    width: 100%;
    background-color: aqua;
}

.carousel-control-prev {
    left: 1%;
}

.carousel-control-next {
    right: 1%;
}

.carousel-caption {
}

#name {
    font-size: 70px;
    background-size: 3px 1em;
    box-shadow:
        0px 3px #ffcc66;
    display: inline-block;
    text-shadow: black 1px 0 10px;
    margin-bottom: 100px;
}

#contact-header {
    background-size: 3px 1em;
    box-shadow:
        0px 3px #a58bdf;
    display: inline;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

.git:hover, .live:hover {
    background-color: #ffcc66;
    border-color: #ffcc66;
    color: white;
}
