/* Whole Page */

body, html, .container, .row{
    height: 100%;
    max-width: 100%;
    margin: 0;
}

.container {
    margin: 0;
    padding: 60px 50px 0px 50px;
}

#right, #left {
    width: 50%;
    height: 100%;
    font-family: 'Poppins';
}

/* Left */

#left p {
    font-size: 30px;
}

#left h1 {
    font-weight: 600;
    font-size:90px;
    display: inline-block;
}

#title {
    background-size: 3px 1em;
    box-shadow:
        0px 3px #ff6666;
    display: inline;
}

#focus-point {
    margin: 30px 0px 30px 0px;
}

/* Right */

#right {
    padding-left: 7%;
    font-family: 'Raleway';
}

#right h1 {
    font-size: 30px;
    display: inline-block;
    margin: 0px 0px 30px 15%;
}

#projects-header {
    background-size: 3px 1em;
    box-shadow:
        0px 3px #86dbd3;
    display: inline;
}

#projects {
    text-align: center;
}

.carousel-inner {
    height: 400px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}

img {
    height: 400px;
    width: 100%;
    filter: grayscale(100%) blur(3px); 
}

.carousel-control-prev {
    left: 1%;
}

.carousel-control-next {
    right: 1%;
}

.name {
    font-size: 70px;
    text-decoration: underline #ffcc66;
    text-shadow: black 1px 0 10px;
    margin-bottom: 100px;
}

#hnh {
    font-size: 35px;
}

#contact-header {
    background-size: 3px 1em;
    box-shadow:
        0px 3px #a58bdf;
    display: inline;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}

.btn-outline-light:focus{
    box-shadow: none;
}

.git:hover, .live:hover {
    background-color: #ffcc66;
    border-color: #ffcc66;
    color: white;
}

#url {
    color: black;
    text-decoration: none;
    margin-left: 15%;
}

#url:hover {
    color: #a58bdf;
}

#links {
    margin-bottom: 0;
}

/* Media Queries */

@media screen and (max-width: 1178px){

    #left h1 {
        font-size: 80px;
    }

}

@media screen and (max-width: 1094px){

    #left h1 {
        font-size: 80px;
    }

    #left p {
        font-size: 25px;
    }

    #left {
        font-size: 15px;
    }

    .carousel-inner {
        height: 350px;
    }
    
    img {
        height: 350px;
    }

}

@media screen and (max-width: 1065px){

    #left h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 991px){

    #left {
        padding-left: 25%;
    }
}

@media screen and (max-width: 916px){

    #left {
        padding-left: 20%;
    }
}

@media screen and (max-width: 797px){

    #left {
        padding-left: 15%;
    }
}

@media screen and (max-width: 742px){

    #left {
        font-size: 13px;
    }

    #left p {
        font-size: 20px;
    }

    #left h1 {
        font-size: 70px;
    }

}

@media screen and (max-width: 916px){

    #left {
        padding-left: 10%;
    }
}

@media screen and (max-width: 607px){

    #left {
        font-size: 10px;
    }

    #left p {
        font-size: 17px;
    }

    #left h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 530px){

    #left h1 {
        font-size: 40px;
    }

    .carousel-inner {
        width: 100%;
    }

    #right h1 {
        margin-left: 35%;
    }
}

@media screen and (max-width: 458px){

    #right p {
        font-size: 12px;
    }

    #right h1 {
        margin-left: 30%;
    }
}

@media screen and (max-width: 413px){

    #left h1 {
        font-size: 40px;
    }
}
